@use '../../assets/scss/global/index' as *;
@use 'auth-base.module';

// 注册特有的样式
.formTitle {
  font-size: $font-size-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: $spacing-medium;
}

.actions {
  text-align: center;
  font-size: $font-size-small;
  color: $gray-dark;
}

.loginLink {
  color: $link-color;
  text-decoration: none;
  margin-left: 5px;
}